<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
</head>
<body bgcolor="#99CC66">
<div class="container">
    <h2>Main Menu</h2>
    <a href="/guestform" class="btn btn-primary">Add new guest</a><br><br>
    <a href="/viewroom" class="btn btn-secondary">check all rooms</a>
    <a href="/roomform" class="btn btn-warning">add new room</a>


</div>
</body>
</html>
