<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Main Menu</title>
        <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
        <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" type="text/css">
    </head>

<body bgcolor="#deb887">
<div class="container">
    <h2>Main Menu</h2>
    <a href="/guestform" class="btn btn-primary">Add new guest</a>
<!--    <a href="/roomform" class="btn btn-warning">Add new room</a>-->
    <a href="/viewroom" class="btn btn-success">Check all rooms</a>
    <a href="/getAll" class="btn btn-warning">Check all guests</a>

</div>
</body>
</html>
