<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Guests List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Room List</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>HasWindow</th>
                <th>GuestName</th>
            </tr>
            </thead>
            <tbody>
            <tr class="result" data-th-each="roomDto : ${list}">
                <td th:text="${roomDto.number}"></td>
                <td th:text="${roomDto.name}"></td>
                <td th:text="${roomDto.capacity}"></td>
                <td th:text="${roomDto.hasWindow}"></td>
                <td th:text="${roomDto.guest}"></td>

                <td class="action-td">
                    <!--                    <form method="post" class="padding5px" th:action="#" th:action="@{/delete_emp}">-->
                    <!--                        <input type="hidden" th:name="emp_id" th:value="${emp.id}">-->
                    <!--                        <input type="submit" class="btn btn-danger"  value="Delete" >-->
                    <!--                    </form>-->
                    <!--                    <form method="post" class="padding5px" action="#" th:action="@{/edit_emp}">-->
                    <!--                        <input type="hidden" th:name="emp_id" th:value="${emp.id}">-->
                    <!--                        <input type="submit" class="btn btn-warning"  value="Edit">-->
                    <!--                    </form>-->
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/" class="btn btn-secondary">Main menu</a>
    </div>

    <!--    <form method="post" action="test">-->
    <!--        <input type="submit" class="button" name="test" value="test"/>-->
    <!--    </form>-->
</div>
</body>
</html>